# Flutter specific
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# Android-specific
android/local.properties

# Miscellaneous
*.iml
*.log
*.tmp
*.swp
*.lock
*.DS_Store
*.idea/
.vscode/
